@font-face {
  src: url('styles/fonts/Reckoner_Bold.ttf');
  font-family: 'Reckoner_Bold';
}

body {
  background-color: beige;
}
.container {
  height: 700px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: #333;
}
.moods {
  color: #FFF;
  text-align: center;
  margin-top: 30px;
}
.heading, .heading h1 {
  font-family: 'Reckoner_Bold';
  font-size: 100px;
}
.mood {
  display: inline;
}

.mood button {
  color: #FFF;
}
.vid-control-btn {
  padding: 5px 55px;
}
.songs {
  text-align: center;
  margin-top: 10px;
}

.player {
  width: 720px;
  height: 410px;
  background-color: #000;
  border: none;
}
.cred ul {
  display: inline-block;
  list-style: none;
  color: #000;
}
.cred ul li a {
  color: #000;
  text-decoration: none;
}
.cred ul li a:hover {
  text-decoration: none;
  color: #000;
}